<div class="customers view">
    <div class="container">
        <br /><br />
        <script type="text/ng-template" id="addStatus.html">
            <div class="modal-header">
                <h3 class="modal-title">Add a Status!
                <button type="button" class="close" ng-click="cancel()">&times;</button>
                </h3>
            </div>
            <div class="modal-body">
                <form ng-submit="addNewStatus()">
                <input type = "text" class = "form-control" data-ng-model = "data.newStatusName" placeholder = "Add here!"/>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="addNewStatus()"><span class="glyphicon glyphicon-ok"></span></button>
                <button class="btn btn-danger" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </script>
            <div class="row statusContainer">
                <article class="col-md-3 status" data-ng-style="randomColor" data-ng-repeat="stat in status ">
                    <header class="statusHeader" >
                        {{stat.statusName}}
                        <div class="dropdown  setBtn">
                        <button class="btn dropdown-toggle" type="button" data-toggle = "dropdown">
                            <span class ="glyphicon glyphicon-cog" ></span>
                        </button>
                        <ul class = "dropdown-menu">
                            <!--<li><a href data-ng-click="">Add A Card</a></li>-->
                            <li><a href data-ng-click="deleteAllCards(stat.id)">Delete All Cards</a></li>
                            <li><a href data-ng-click="deleteStatus(stat.id)">Delete List</a></li>
                        </ul>
                        </div>
                    </header>
                    <!--<div data-drop="true" jqyoui-droppable = '{onDrop : "droppedItem()"}'>-->
                    <div class="StatusBody" data-ng-repeat = "card in cards | filter:{'status_id' : stat.id }:true" data-drop="true" data-jqyoui-options jqyoui-droppable = '{onDrop : "droppedItem()"}' >
                        <!--<div class="card" data-drop="true" data-jqyoui-options jqyoui-droppable = '{onDrop : "droppedItem()"}'>-->
                        <div class = "card" data-drag="true" data-drop="true" jqyoui-droppable = '{onDrop : "droppedItem()"}' data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable='{animate:true ,onDrag :"draggedItem()"}' data-ng-model="card[stat.id]">
                           <p class="cardText">
                               {{card.content}} <!--{{card.status_id}} {{card.id}}-->
                           </p>
                            <button class="btn close cardClose" data-ng-click="deleteCard(card.id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                        <!--</div>-->
                    </div>
                    <!--</div>-->
                    <footer class="statusFooter" data-ng-controller="statusController">
                        <form name="myform" ng-submit="addCard(stat.id)">
                            <input type="text" class="form-control card" id = "focusedInput" data-ng-model= 'data.cardContent[stat.id]' placeholder="Add Card!" />
                            <!--<button data-ng-click="addCard(stat.id)">Add A Card!</button>-->
                        </form>
                    </footer>
                </article>
                <div style = "clear:both"></div>
                <div class = "col-md-3 status">
                    <form ng-submit = "addStatus()">
                    <input type="text" class="form-control" id = "focusedInput" data-ng-model="data.newStatusName" placeholder = "Add New Status.." />

                    </form>
                </div>
            </div>
    </div>
</div>